<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo JQ</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
    <h2>Todos: JQ, Node-Express, MongoDB, EJS</h1>

    <form class="input-form" action="">
        <input class="input-field" type="text" name="text" placeholder="insert todo">
        <button class="addBtn">Submit</button>
        
        <input class="search-field" type="text" name="text" placeholder="search todos">
    </form>
    <br>
    <br>
    <br>
    <br>
</header>
    <ul class="todo-list">

    </ul>

    <br>
    <br>

    <a href="https://cloud.mongodb.com/v2/62a8f0ec98b6c43fcbb2a734#metrics/replicaSet/62a8f1b745a6af441f47b345/explorer/ronnen-test/todos/find" target="_blank"> mongo collection</a>

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>

    <script src="script.js"></script>

</body>
</html>